<div class="mk-app">
	<div class="mk-app-title">
        {{#unless mobile}}
		<a href="/">m</a><span class="mk-app-sub-title">zzzk</span>
        {{/unless}}
        <div class="mk-app-player"></div>
    </div>
    {{#unless mobile}}
    <div class="mk-app-nav">
    </div>
    {{/unless}}
    <div class="mk-app-content-current">
    </div>
    <div class="mk-app-content-parent">
    </div>
</div>
