<div class="mk-app">
	<div class="mk-app-title">
		mzzzk <span class="mk-app-sub-title">music for your ear</span>
    <div class="mk-app-player"></div>
	</div>
    <div class="mk-app-nav">
    </div>
    <div class="mk-app-content">
    </div>
</div>
