<a class="mk-nav-link" href="/recent"><i class="flaticon-matchstick1"></i>Recent</a>
<a class="mk-nav-link" href="/artist"><i class="flaticon-skull17"></i>Artists</a>
<a class="mk-nav-link" href="/song"><i class="flaticon-leaf34"></i>Songs</a>
<a class="mk-nav-link" href="/album"><i class="flaticon-plant26"></i>Albums</a>
<a class="mk-nav-link" href="/playlist"><i class="flaticon-oval6"></i>Playlists</a>
<a class="mk-nav-link" href="/setting"><i class="flaticon-fishing9"></i>Settings</a>
