<a class="mk-nav-link" href="/recent"><i class="flaticon-matchstick1"></i>Recent</a>
<a class="mk-nav-link" href="/artists"><i class="flaticon-skull17"></i>Artists</a>
<a class="mk-nav-link" href="/songs"><i class="flaticon-leaf34"></i>Songs</a>
<a class="mk-nav-link" href="/albums"><i class="flaticon-plant26"></i>Albums</a>
<a class="mk-nav-link" href="/playlists"><i class="flaticon-oval6"></i>Playlists</a>
<a class="mk-nav-link" href="/settings"><i class="flaticon-fishing9"></i>Settings</a>
