<audio class="mk-song" src="{{src}}"></audio>
<div class="mk-player-row-top">
<div class="mk-song-title">{{title}}</div> -
<div class="mk-song-artist">{{artist}}</div>
</div>
<div class="mk-player-row-bottom">
<div class="mk-prev-button">Prev</div>
<div class="mk-play-button">Play</div>
<div class="mk-next-button">Next</div>
</div>
