<div class="mk-file-section">
    <div class="mk-sub-title">Music directory</div>
    <div class="mk-file-input">{{music_dir}}</div> <div class="mk-button">Set</div>
    <div class="mk-message"></div>

    <div class="mk-scanner-section">
    </div>
</div>
