{{#unless reduced}}
<div class="mk-songs-header">
    <span class="mk-song-header-artist">Artist</span>
    <span class="mk-song-header-album">Album</span>
    <span class="mk-song-header-track">Track</span>
    <span class="mk-song-header-title">Title</span>
</div>
{{/unless}}

<div class="mk-songs-song-list">
</div>
