@import "colours";
@import "constants";
@import "util";

.mk-app {
  background-color: $colour-primary-0;
  color: $colour-primary-1;
  height: 100%;
  width: 100%;
  overflow: hidden;

  font-family: Ubuntu;

  .mk-app-title {
    padding: 20px;
    padding-right: 0px;
    font-size: 80px;

    .mk-app-sub-title {
      font-style: italic;
      font-weight: 100;
      font-size:40px;
      margin-left: -15px;
    }
  }

  @include mobile {
      .mk-app-nav {
      }

      .mk-app-content {
      }
  }

  @include desktop {
      .mk-app-nav {
          position:absolute;

          top: $header-full-height;
          bottom: 0;
          left: 0;
          width: $nav-bar-width;
      }

      .mk-app-content {
          position:absolute;

          top: $header-full-height;
          bottom: 0;
          right: 0;
          left: $nav-bar-width;
      }
  }
}
