@import "colours";
@import "constants";
@import "util";

.mk-app {
  background-color: $colour-primary-0;
  color: $colour-primary-1;
  height: 100%;
  width: 100%;
  overflow: hidden;

  font-family: Ubuntu;

  .mk-app-title {
    padding: 20px;
    padding-right: 0px;
    font-size: 80px;

    .mk-app-sub-title {
      font-style: italic;
      font-weight: 100;
      font-size:40px;
      margin-left: 2px;
      letter-spacing: 5px;
    }

    .mk-app-player {
      display: inline-block;
      vertical-align: top;
    }
  }

  @include mobile {
      .mk-app-nav,
      .mk-app-content-current,
      .mk-app-content-parent {
          position: absolute;
          top: $header-full-height;
          bottom: 0px;
          left: 0px;
          right: 0px;
          overflow-x: hidden;
          overflow-y: auto;
          background-color: $colour-primary-0;
      }
      .mk-app-content-current {
          z-index: 1;
          box-shadow: -5px 0px 3px rgba(30,30,30,0.7);
      }
  }

  @include desktop {
      .mk-app-nav {
          position:absolute;

          top: $header-full-height;
          bottom: 0;
          left: 0;
          width: $nav-bar-width;
      }

      .mk-app-content-current {
          position:absolute;

          top: $header-full-height;
          bottom: 0;
          right: 0;
          left: $nav-bar-width;

          overflow: auto;
      }
      .mk-app-content-parent {
          display: none;
      }
  }
}
