@import "colours";

.mk-app {
  background-color: $colour-primary-0;
  color: $colour-primary-1;

  font-family: Ubuntu;

  .mk-app-title {
    padding: 20px;
    padding-right: 0px;
    font-size: 80px;

    .mk-app-sub-title {
      font-style: italic;
      font-weight: 100;
      font-size:40px;
      margin-left: -15px;
    }
  }
}
