$colour-primary-0: #AA4339;	/* Main Primary colour */
$colour-primary-1: #F3D6D3;
$colour-primary-2: #CF847C;
$colour-primary-3: #851509;
$colour-primary-4: #610900;

$colour-secondary-1-0: #333676;	/* Main Secondary colour (1) */
$colour-secondary-1-1: #9697A9;
$colour-secondary-1-2: #5E6190;
$colour-secondary-1-3: #12165D;
$colour-secondary-1-4: #040743;

$colour-secondary-2-0: #AAA639;	/* Main Secondary colour (2) */
$colour-secondary-2-1: #F3F2D3;
$colour-secondary-2-2: #CFCC7C;
$colour-secondary-2-3: #858109;
$colour-secondary-2-4: #615E00;

/* As RGBa codes */

$rgba-primary-0: rgba(170, 67, 57,1);	/* Main Primary colour */
$rgba-primary-1: rgba(243,214,211,1);
$rgba-primary-2: rgba(207,132,124,1);
$rgba-primary-3: rgba(133, 21,  9,1);
$rgba-primary-4: rgba( 97,  9,  0,1);

$rgba-secondary-1-0: rgba( 51, 54,118,1);	/* Main Secondary colour (1) */
$rgba-secondary-1-1: rgba(150,151,169,1);
$rgba-secondary-1-2: rgba( 94, 97,144,1);
$rgba-secondary-1-3: rgba( 18, 22, 93,1);
$rgba-secondary-1-4: rgba(  4,  7, 67,1);

$rgba-secondary-2-0: rgba(170,166, 57,1);	/* Main Secondary colour (2) */
$rgba-secondary-2-1: rgba(243,242,211,1);
$rgba-secondary-2-2: rgba(207,204,124,1);
$rgba-secondary-2-3: rgba(133,129,  9,1);
$rgba-secondary-2-4: rgba( 97, 94,  0,1);
