@import "colours";

.mk-songs {
    position: absolute;
    margin: 0;
    padding: 0;
    overflow: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .mk-songs-header {
        display: table-row;

        .mk-song-header-artist,
        .mk-song-header-album,
        .mk-song-header-track,
        .mk-song-header-title {
            display: table-cell;
            text-align: left;
            font-weight: normal;
            font-size: 24px;
            font-style: italic;
            padding-right: 10px;
        }
    }
    .mk-songs-song-list {
        display: table-row-group;
    }
}

